.flex-container{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.flex-container div{
    width: 30%;
    border: 2px solid black;
    flex-grow: 2;
    background-color: red;
}